html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {    
    font-family: 'TT Lakes';
    background-color: #F8F8F8;
}

a {
    text-decoration: none;
    color: #1B1C21;
}

ul {
    list-style: none;
}

.head__row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px 16px 0 16px;
}

@media (min-width: 768px) {
    .head__row {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .head__row {
        padding: 42px 32px 0 32px;
        justify-content: space-between;
    }
}

.head__row--nav {
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
    height: 88px;
    padding-top: 0;
}

@media (min-width: 1200px) {
    .head__row--nav {
        display: none;
    }
}

.bttn-list {
    display: flex;
    list-style: none;
}

.head__bttn-list {
    flex-grow: 1;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .head__bttn-list {
        flex-grow: 0;
        margin-left: 42px;
    }
}

@media  (min-width: 768px) {
    .head__bttn-list.tablet {
        flex-grow: 1;
    }
}

.bttn-list__item {
    position: relative;
    height: 40px;
    margin-left: 16px;
}

@media (min-width:1200px) {
    .head__bttn-list.bttn-list__item {
        margin-left: 32px;
    }
}

.bttn-list__item:first-child {
    margin-left: 0;
}

.head--divider::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -22px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.head__logo {
    position: relative;
    margin-left: 16px;
}

.head__logo--divider::before {
    content: '';
    position: absolute;
    top: 13px;
    left: -20px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

@media (min-width: 768px) {
    .head__logo {
        margin-left: 42px;
    }
}

.menu-bttn {
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s ease-in-out;
}

.menu-bttn:hover { 
    box-shadow: 2px 1px 5px 1px rgba(69, 79, 126, 0.3);
    transform: scale(1.1);
    background-color: #FF3E92;
}

.menu-bttn--menu {
    background-image: url(../img/burger.svg);
}

.menu-bttn--request {
    background-image: url(../img/repair.svg);
}

.menu-bttn--condition {
    background-image: url(../img/checkstatus.svg);
}

.menu-bttn--call {
    background-image: url(../img/call.svg);
}

.menu-bttn--chat {
    background-image: url(../img/chat.svg);
}

.menu-bttn--profile {
    background-image: url(../img/profile.svg);
}

.menu-bttn--search {
    background-image: url(../img/search.svg);
}

.menu-bttn--close {
    background-image: url(../img/close.svg);
}

.menu-bttn--monitor {
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1B1C21;
    text-align: start;
    width: 173px;
    border-radius: 0;
    background-color: #F8F8F8;
}

.menu-bttn--monitor:hover {
    box-shadow: none;
    transform: none;
    background-color: inherit;
}

.menu-bttn--monitor::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s ease-in-out;

}


.menu-bttn--monitor:hover.menu-bttn--monitor::after {
    box-shadow: 2px 1px 5px 1px rgba(69, 79, 126, 0.3);
    transform: scale(1.1);
    background-color: #FF3E92;
}

.menu-bttn--monitor-request::after {
    background-image: url(../img/repair.svg);
}

.menu-bttn--monitor-condition::after {
    background-image: url(../img/checkstatus.svg);
}

.menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    position: fixed;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.menu__row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 16px 0 16px;
}

.menu__logo {
    position: relative;
    margin-left: 16px;
}

.menu__menu-bttn {
    margin-left: auto;
}

.menu__site-nav{
    margin-top: 50px;
    margin-left: 24px;
}

.site-nav__list-item {
    margin-bottom: 32px;
}

.site-nav__link {
    font-size: 16px;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
}

.site-nav__link:hover {
    font-size: 17px;
    color: #7E7E82;
}

.site-nav__link--active {
    position: relative;
    color: #7E7E82;
}

.site-nav__link--active::before{
    content: '';
    position: absolute;
    left: -24px;
    top: -6px;
    width: 4px;
    height: 32px;
    border-radius: 0 12px 12px 0;
    background: #41F6D7;
}

.menu__bttn-list {
    margin: auto 0 16px 24px;
}

.menu__email {
    margin-left: 24px;
    margin-bottom: 12px;
}

.email {
    font-size: 16px;
    line-height: 24px;
}

.menu__phone {
    margin-left: 24px;
    margin-bottom: 40px;
}

.phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
}

.menu__lang-list {
    display: flex;
    margin-left: 24px;
    margin-bottom: 32px;
}

.lang-list__item {
    margin-left: 7px;
}

.lang-list__item:first-child {
    margin-left: 0;
}

.lang-list__link {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.lang-list__link:hover {
    color: #7E7E82;
}

.lang-list__link--active {
    color: #7E7E82;
}

.head__title {
    position: relative;
}

.title {
    font-size: 28px;
    line-height: 40px;
}

.title::before {
    content: '';
    position: absolute;
    left: -16px;
    width: 4px;
    height: 40px;
    border-radius: 0 12px 12px 0;
    background: #41F6D7;
}

@media (min-width: 768px) { 
    .title::before {
        left: -24px;
    }
}

@media (min-width: 1200px) { 
    .title::before {
        left: -32px;
    }
}

.head__page-nav {
    padding: 24px 16px 0 16px;
}

@media (min-width: 768px) and (max-width: 1199.98px) { 
    .head__page-nav {
        padding-top: 32px;
        padding-left: 24px;
    }
}

@media (min-width: 1200px) { 
    .head__page-nav {
        padding-top: 8px;
        padding-left: 32px;
    }
}

.page-nav--gradient {
    -webkit-mask: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
      );
      mask: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 50%,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 0) 100%
        );
}

@media (min-width: 1200px){ 
    .page-nav--gradient  {
        -webkit-mask: none;
        mask: none;
    }
}

.page-nav__list {
    display: flex;
    overflow: scroll;
    list-style: none;
    flex-wrap: nowrap;
    font-size: 0;
    margin-bottom: -20px;
}

@media (min-width: 1200px){ 
    .page-nav__list  {
        flex-wrap: wrap;
        overflow: auto;
        min-width: 1200px;
        margin-bottom: 0;
    }
}

.page-nav__list::-webkit-scrollbar {
    width: 0;
}

.page-nav__item {
    text-decoration: none;
    display: block;
    margin-left: 16px;
}

.page-nav__item:first-of-type {
     margin-left: 0px;
}

.page-nav__link {
    display: block;
    color: #7E7E82;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.page-nav__link--active {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main__about {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 16px;
}

@media (min-width: 768px) and (max-width: 1199.98px) { 
    .main__about {
        flex-wrap: wrap;
        height: 230px;
        padding: 32px 25px 0 25px;
    }
}

@media (min-width: 1200px){ 
    .main__about {
        flex-wrap: wrap;
        height: 320px;
        padding: 20px 0 0 34px;
    }
}

.about__text {
    margin-bottom: 16px;
}

@media (min-width: 768px) { 
    .about__text {
        width: 45%;
    }
}

.text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

@media (min-width: 768px) { 
    .text {
        line-height: 20px;
    }
}

@media (min-width: 768px) { 
    .text:first-of-type {
        margin-bottom: 20px;
    }
}

.main-bttn {
    position: relative;
    outline: none;
    cursor: pointer;
    background-color: inherit;
    border: none;
    width: 132px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 600;
    text-align: end;
    margin-bottom: 16px;
}

.main-bttn__icon::before {
    position: absolute;
    left: 0;
    content: '';
    width: 24px;  
    height: 24px;
    background-image: url(../img/button-icon.png);
    background-size: contain;
}

.content-img {
    position: relative;
    left: -16px;
    width: 104%;
    height: auto;
}

@media (min-width: 768px) {
    .content-img {
        border-radius: 6px;
        width: auto;
        height: 100%;
        left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767.98px) { 
    .tablet {
        display: none;
    }
}

@media (max-width: 1199.98px) { 
    .monitor {
        display: none;
    }
}